<h1>Create a new Author</h1>

<form action="/authors" method="post">

   <label for="name">Name:</label>
   <input type="text" name="name" placeholder="Enter name" />
   <br />
   <br />
   <label for="bio">Bio:</label>
   <input type="text" name="bio" placeholder="Enter bio" />
   <br />
   <br />
   <input type="submit" value="Create Author">

</form>
