.App {

}

.header {
  display: flex;
  flex-direction: row;

  height: 80px;
  width: 100%;

  font-size: 60px;
  font-family: 'Italianno', cursive;

  background-color: white;

  align-items: center;
  justify-content: space-around;

  box-shadow: 0px 4px 8px #888888;
}

.header > button {
  border: none;

  height: 50px;
  width: 50px;

  font-size: 20px;

  cursor: pointer;
  outline: none;
}

/* Card CSS */

.card-container {
  padding: 40px;
  display: flex;

  flex-direction: row;
  justify-content: space-around;

  flex-wrap: wrap;
  align-items: center;
}

.card {
  width: 300px;
  margin: 10px;

  display: flex;
  flex-direction: column;

  padding: 20px;
  border-radius: 2%;

  box-shadow: 0px 4px 8px #888888;
}

.card > img {
  height: 350px;
  width: 100%;

  object-fit: cover;
}

.buttons-list > button {

  border: none;
  cursor: pointer;
  outline: none;

  margin-top: 5px;
  margin-right: 5px;

  font-size: 20px;
  background-color: white;
}

.likes {
  width: 100%;
  padding: 10px;

  font-family: 'Italianno', cursive;
  font-size: 25px;
}

.buttons-list {
  display: flex;
  flex-direction: row;
}

.like {
  color: red;
}

.comment {
  color: green;
}

.share {
  color: blue;
}
